@page
@model RostrosFelicesWEB.Pages.Servicios.IndexModel
@{
    ViewData["Title"] = "Servicios";
}
<h1>Servicios Realizados</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Empleado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var servicio in Model.Servicios)
        {
                <tr>
                    <td>@servicio.Fecha</td>
                    <td>@servicio.Cliente.Id</td>
                    <td>@servicio.Empleado.Nombre</td>
                </tr>
        }
    </tbody>
</table>